@model ProductModifyModel

@{
    ViewBag.Title = "Modify Product";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="Modify">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="@Model.ImageUrl" alt="Product Image">
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AvailableStockCount" class="control-label"></label>
                <input asp-for="AvailableStockCount" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
            </div>            
            <div class="form-group col-md-3">
                <div class="form-group">
                    <label asp-for="IsAvailable" style="color:white"></label>
                    <select asp-for="IsAvailable" class="form-control">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Modify" class="btn btn-warning" />
            </div>


        </div>
    </div>
</form>

