.custom-add-train-button {
    background-color: #cecece;
}

    .custom-add-train-button:hover {
        background-color: white;
    }

h2 {
    color: white;
}

hr {
    color: white;
}

h4 {
    color: black;
}
