body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../background.jpg');
}
img{
    height:300px;
}
.custom-card {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); 
    background-color:#e8e8e8;
}
.custom-button-mod{
    background-color:dimgray;
    color:white;
}
.custom-button-mod:hover
{
    background-color:gray;
    color:white;
}
.custom-button-det{
    background-color:#2b977d;
    color:white;
}
    .custom-button-det:hover {
        background-color: #38ba95;
        color: white;
    }


