<link rel="stylesheet" href="~/css/layout-admin.css" />
<link rel="stylesheet" href="~/css/dashboard.css" />

@{
	ViewData["Title"] = "Admin DashBoard";
}
<div class="site">
	<div class="jumbotron">
		<h1>Admin Dashboard</h1>
		<div class="list-group">
			<a asp-area="Admin" asp-controller="Product" asp-action="Options" class="list-group-item list-group-item-action">Products modification</a>
			<a asp-area="Admin" asp-controller="Participant" asp-action="Hire" class="list-group-item list-group-item-action">Hire a trainer</a>
			<a asp-area="Admin" asp-controller="Trainer" asp-action="All" class="list-group-item list-group-item-action">All Users</a>
		</div>
	</div>
</div>
