@using Microsoft.AspNetCore.Identity
@inject SignInManager<Participant> SignInManager
@inject UserManager<Participant> UserManager
@inject ITrainerService trainerService

@{
	string userName = string.Empty;

	if (SignInManager.IsSignedIn(User))
	{
		var user = await UserManager.FindByIdAsync(User.Id());
		userName = user.FirstName + " " + user.LastName;

	}
}
<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-dark">Hello, @userName!</a>
		</li>

		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="/" asp-action="">Public Interface</a>
		</li>		
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
