@inject SignInManager<Participant> SignInManager
@inject UserManager<Participant> UserManager
@inject ITrainerService trainerService

@{
	string userName = string.Empty;

	if (SignInManager.IsSignedIn(User))
	{
		userName = User.FindFirstValue(UserFullNameClaim) ?? string.Empty;

	}
}
<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Hello, @userName!
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" asp-area="" asp-controller="TrainingProgram" asp-action="Mine">My Training Programs</a></li>
				<li><a class="dropdown-item" asp-area="" asp-controller="Event" asp-action="Mine">My Events</a></li>
				<li><a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Mine">Cart</a></li>
			</ul>
		</div>
		@* <li class="nav-item">
			<a class="nav-link text-dark"></a>
		</li> *@

		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="/" asp-action="">Public Interface</a>
		</li>		
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
