@page
@model LoginModel
<link rel="stylesheet" href="~/css/login.css" />

@{
    ViewData["Title"] = "Sign in";
    ViewData["Subtitle"] = "Sign up";
}

<div class="site">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <section>
                <form id="account" method="post">
                    <h3 class="text-center">Sign in to your account</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <p class="field">
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </p>
                    <p class="field">
                        <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </p>
                    <div>                    
                    </div>
                    <div>
                        <button class="btn-sign-in" type="submit">Sign in</button>
                    </div>
                    <div>                   
                        <p>
                            <b>Don't have an account? </b><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><b>Sign up</b></a>
                        </p>                    
                    </div>
                </form>
            </section>
        </div>    
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
