@page
@model RegisterModel
<link rel="stylesheet" href="~/css/register.css" />
@{
    ViewData["Title"] = "Register";
}

<div class="site">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h3 class="text-center">Create a new account</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="field">
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="field">
                    <input asp-for="Input.FirstName" autocomplete="first-name" aria-required="true" />
                    <label asp-for="Input.FirstName"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="field">
                    <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="field">
                    <input asp-for="Input.LastName" autocomplete="last-name" aria-required="true" />
                    <label asp-for="Input.LastName"></label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="field">
                    <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>          
                              
                <div class="field">
                    <input asp-for="Input.City" autocomplete="city" aria-required="true" />
                    <label asp-for="Input.City"></label>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <button type="submit" class="btn-sign-up">Sign up</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
